!DOCTYPE html>
<html>
    
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <h1><%= @admin.first_name %>, votre évenement <%= @event.title %> compte un nouvel inscrit !</h1>

        <p><%= @user.first_name %> <%= @user.last_name %> sera de la partie !</p> 
    
    </body>

</html> 