<h1><%= @admin.first_name %>, votre évenement <%= @event.title %> compte un nouvel inscrit !</h1>
==========================================================

<%= @user.first_name %> <%= @user.last_name %> sera de la partie !
