
    <div class="title">
        <h1>my</h1>  
        <h1>E V E N T   B R I T E</h1>
    </div>

    <div class="sentence">
        Welcome in the New EventBrite, made for a whole new generation, for you !
    </div>

    <div class="event_online_entrance">
        Events online :
    </div>

    <div class="event_list">
        <% @events.each do |event| %>
        <div class="row row-cols-3 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-30">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= event.title %></h5>
                        <p class="card-text"><%= event.description %></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><%= event.created_at %></small>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>

    