<div class="title">
    <h1>Create a new event</h1>
</div>

<div class="event_form">
    <form action="/ma-page-de-traitement" method="post">
        <div class="form_title">
            <label for="title">Title :</label>
        </div>
        <br>
        <div>
            <input type="text" id="Title" name="Title" size="50px">
        </div>
        <br>
        <div class="form_title">
            <label for="">Start date :</label>
        </div>
        <br>
        <div>
            <input type="" id="Start_date" name="Start_date" size="50px">
        </div>
        <br>
        <div class="form_title">
            <label for="">Duration :</label>
        </div>
        <br>
        <div>
            <input type="text" id="Duration" name="Duration" size="50px">
        </div>
        <br>
        <div class="form_title">
            <label for="msg">Description :</label>
        </div>
        <br>
        <div>
            <textarea id="Description" name="Description" rows="6" cols="50"></textarea>
        </div>
        <br>
        <div class="form_title">
            <label for="msg">Location :</label>
        </div>
        <br>
        <div>
            <input type="" id="Location" name="Location" size="50px">
        </div>
        <br>
        <div class="form_title">
            <label for="msg">Price :</label>
        </div>
        <br>
        <div>
            <input type="" id="Price" name="Price" size="50px">
        </div>
        <br>
        <br>
        <br>
        <div>
            <input type="submit">
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>