<div>
    <div class=user_photo>
        <img src="..." alt="..."></img>
    </div>

    <div class="user_name">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
</div>
<br>
<br>

<div>
    <h3>Description</h3>
</div>
<br>

<div>
    <h3>Participations</h3>
</div>
<br>

<div>
    <h3>Followers</h3>
</div>
<br>

<div>
    <h3>Photos</h3>
</div>